@using FinalWork_BD_Test.Data.Models
@using FinalWork_BD_Test.Data.Models.Profiles
@model FinalWork_BD_Test.Areas.Admin.Models.UserProfileViewModel

<p><button class="btn btn-info" asp-action="EditUser">Новый пользователь</button></p>

<table class="table table-hover table-sm table-striped col-md-12">
    <tr>
        <th style="display: none">ID</th>
        <th scope="col">Логин</th>
        <th scope="row">Номер телефона</th>
        <th scope="row">Фамилия</th>
        <th scope="row">Имя</th>
        <th scope="row">Отчество</th>
        <th scope="row"></th>
    </tr>
    @foreach (User u in Model.Users)
    {
        <tr>
            <td style="display: none">@u.Id</td>
            <td>@u.UserName</td>
            <td>@u.PhoneNumber</td>
            
            @if (u.UserProfiles?.FirstOrDefault() != null)
            {
                var up = u.UserProfiles.FirstOrDefault();
                <td>@up.SecondNameIP</td>
                <td>@up.FirstNameIP</td>
                <td>@up.MiddleNameIP</td>
            }
            else
            {
                <td>-</td>
                <td>-</td>
                <td>-</td>
            }
            <td>
                <a class="btn-sm btn-secondary" asp-action="EditUser" asp-route-id="@u.Id">Изменить</a>
                <a class="btn-sm btn-primary" asp-action="DeleteUser" asp-route-id="@u.Id">Удалить</a>
            </td>
        </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="AllUsers"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="AllUsers"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
