@using FinalWork_BD_Test.Areas.Admin.Views
@model FinalWork_BD_Test.Data.Models.VKR
@{
    ViewData["ActiveView"] = AdminNavBar.AllVkrs;
}
<div class="row">
    <div class="col-md-8">
        <form id="topic-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="StudentUP.User.Id" style="display: none" name="userId"/>
            </div>
            <div class="form-group">
                <label asp-for="Topic.Title"></label>
                <input asp-for="Topic.Title" class="form-control" />
                <span asp-validation-for="Topic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorUP">ФИО научного руководителя</label>
                @Html.DropDownList("UserProfile.Id", ViewData["UserProfile.Id"] as SelectList,
                    new { @class = "form-control" })
                <span asp-validation-for="SupervisorUP" class="text-danger"></span>
                <p><a asp-area="" asp-controller="Vkr" asp-action="NewSuperVisor">Не нашли научного руководителя?</a></p>
            </div>
            <div class="form-group">
                <label asp-for="DegreeId"></label>
                @Html.DropDownList("Degree.Id", ViewData["Deegree.Id"] as SelectList,
                    new { @class = "form-control" })
                <span asp-validation-for="DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewerUPId">ФИО рецензента</label>
                @Html.DropDownList("ReviewerId", ViewData["ReviewerId"] as SelectList,
                    new { @class = "form-control" })
                <span asp-validation-for="ReviewerUPId" class="text-danger"></span>
                <p><a asp-controller="Vkr" asp-action="NewReviewer">Не нашли рецензента?</a></p>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" min="@ViewData["CurrentYear"]" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester"></label>
                @Html.DropDownList("Semester.Id", ViewData["Semester.Id"] as SelectList,
                    new { @class = "form-control" })
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <button id="update-topic-button" type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <br/>
        <p><a class="btn-sm btn-primary" asp-action="AllVkrDocuments" asp-route-vkrId="@Model.Id">Просмотреть документы</a></p>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        <script>
            $(document).ready(function () {
                checkDegree();
                $("#Degree_Id").change(checkDegree)
            })
    
            function checkDegree() {
                if ($("#Degree_Id option:selected").text() == "Магистр") {
                    $('#ReviewerId').parent().eq(0).show()
                } else {
                    $('#ReviewerId').parent().eq(0).hide()
                }
            }
        </script>

}