@using FinalWork_BD_Test.Data.Models
@using Microsoft.AspNetCore.Identity
@model FinalWork_BD_Test.Models.ChangeRoleViewModel

<h4>Изменение ролей для пользователя @Model.UserName</h4>

<form asp-action="EditUserRoles" method="post">
	<input type="hidden" name="userId" value="@Model.UserId" />
	<div class="form-group">
		@foreach (Role role in Model.AllRoles)
		{
			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" name="roles" value="@role.Name"
					       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
					@role.Name
				</label>
			</div>
		}
	</div>
	<button type="submit" class="btn btn-primary">Сохранить</button>
</form>